body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aliceblue ;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    text-align: center;
}
head{
    background-color: azure;
    color: aliceblue;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 8px black;
}
table{
    border-collapse: collapse;
    width: 80%;
    background-color: white;
    box-shadow: 0 0 8px black;
    margin: 20px auto;
}
th,td{
    border: 1px solid rgb(81, 106, 161);
    padding: 12px;
    text-align: center;
}
th{
    background-color: aliceblue;
}
h2{
    color: rgb(58, 165, 160);
}
footer{
    background-color: rgb(71, 71, 119);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: white;
    background-color: rgb(40, 131, 131);
    padding: 8px 15px;
    border-radius: 5px;
}
a:hover {
    background-color: rgb(0, 0, 0);

}
.profile {
    text-align: center;
    padding: 20px;

}
.profile img{
    border-radius: 100%;
    width: 200px;
    border:none
}
.audio-video {
    margin: 20px;

}
iframe{
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px auto;
    max-width: 900px;
}
.card{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgb(0, 0, 0);
    width: 260px;
    transition: transfrom 0.3s ease,box-shadow 0.3s ease;
    overflow: hidden;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px black;
}
.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.profilec{
    padding: 15px;
}
.profilec h3 {
    margin: 10px 0 5px;
    color: #333;
}
.btn{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 20px;
    background-color: rgb(93, 187, 156);
    color: white;
    border-radius: 20px;
    text-decoration: none;
    transition: background 0.3s;
}
.btn:hover {
    background-color: rgb(84, 163, 137);
}
.main-title{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: linear-gradient(90deg,#004aad,#00c2cb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block;
    margin-top: 40px;
}



